
body {
    font-size: 16px;
    line-height: 1.5;
    overflow-x: hidden;
    background-color: #ffffff;
}

*:not(i) {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

:before,
:after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    vertical-align: middle;
    max-width: 100%;
}

.App {
    text-align: center;
}
.row{
    display: flex;
}